<form method="post" action="/players">
 <label for="first_name_field">First Name:</label>
 <input 
 type="text"
 name="first_name"
 id="first_name_field"
 /> 

 <label for="second-name-field">Second Name:</label>
 <input
 type="text"
 name="second_name"
 id="second-name-field"
 />

 Select a club:
   <select name="club_id">
     <% for club in @clubs %>
     <option value="<%= club.id %>"><%= club.club_name %></option>
     <% end %>
   </select>
 </label>

 <label for="age">Age:</label>
 <input 
 type="number"
 name="age"
 id="age"
 /> 

 <label for="position_field">Position:</label>
 <input 
 type="text"
 name="position"
 id="position_field"
 /> 

 <label for="fit">Fit?: Fit</label>
 <input 
 type="radio"
 name="fit"
 id="fit"
 value='t'
 />Not Fit
 <input 
 type="radio"
 name="fit"
 id="fit"
 value='f'
 />

 <label for="nation_field">Place of Birth:</label>
 <input 
 type="text"
 name="nation"
 id="nation_field"
 /> 

 <label for="photo_url_field">Photo:</label>
 <input
 type="text"
 name="photo_url"
 id="photo_url_field"
 />
  
  
  <input class="btn" type="submit" value="Submit">

</form>
