<!DOCTYPE html>
<html>
<head>
  <title>Football Federation</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
    
  <link rel="icon" href="/images/football_little.png" />

  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link rel="stylesheet" type="text/css" href="/styles/images.css">

</head>
<body>
<main class="flex flex--row">
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/clubs">Clubs</a>
      </li>
      <li>
        <a href="/players">Players</a>
      </li>
      <li>
        <a href="/players/new">Create Player</a>
      </li>
      <li>
        <a href="/clubs/new">Create Club</a>
      </li>
      <li>
        <a href="/players/search">Search</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>