<h1>Clubs</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% for club in @clubs %>
  <tr>
    <td><a href="/clubs/<%= club.id %>"><%= club.club_name %></a></td>
    <td>
      <form action="/clubs/<%= club.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </td>
    <td>
      <form action="/clubs/<%= club.id %>/edit" method="get">
        <input class="btn btn--danger" type="submit" value="Edit" />
      </form>
    </td>
  </tr>
  <% end %>
</table>