<form method="post" action="/clubs">
  <label for="add_club">Add a club:</label>
  <input type="text" id="add_club" name="club_name" />

  <input class="btn btn--action" type="submit" value="Submit">
</form>
