<form method="post" action="/clubs">
<label for="add_a_club_field">Add a club:</label>
<input
type="text"
club="club"
id="add_a_club_field"
/>

<input class="btn btn--action" type="submit" value="Submit">

</form>
