.btn {
  border:0px none;
  border-radius: 3%;
  padding: 8px 12px;
  color: green;
  cursor:pointer;
  font-family: 'Helvetica', cursive;
  -webkit-transition-duration: 0.4s; transition-duration: 0.4s;
}

.btn:hover{
  background-color: green;
  color: white;

}

.btn--wrapper {
  margin: 0px 0px 30px 0px;
}

