input[type="submit"] {
  text-transform: uppercase;
  font-family: 'Helvetica', cursive;
}

select {
 width: 150px;
 padding: 10px 10px 10px 20px;
 margin: 10px 0;
 font-size: 0.5 em;
 font-family: 'Helvetica', serif;
 border: 2px solid white;
 border-radius: 4px;
 display: inline-block;
} 




